body{
    background-color: #734002;
    color: #f2d8c2;
    max-width: 1440px;
}

header{
    background-image: url(Images/Gemini_Generated_Image_ot0ut5ot0ut5ot0u.png);
    background-repeat: no-repeat;
}

section{
    /*align-content: center;*/

}

.Projets{
    box-sizing: border-box;
    margin: 10px 40px;
    text-align: center;
}

section div summary{
    border-top-style: solid;
    border-top-width: 3px;
    margin: 0 300px 15px;
}

section:nth-of-type(2) {
    background-color: #d9b13b;
    /*width: 1440px;*/
    height: 1008px;
}

section:nth-of-type(2) h2{
    color: #402c21;
}

footer{
    background-color: #a68863;
}

.titre-footer{
    
}